{
    "dev": {
    	"project_name":"MadODProxy",
        "lambda_description": "Rather Stupid Proxy to make a sync table from a Madrid Open Data url that looks like it expects a header",
        "s3_bucket": "zappa-versions",
        "app_function": "madrid_pollution.app",
        "profile_name": "jorge",
        "role_name" : "lambda_basic_execution",
        "keep_warm": false,
        "log_level": "INFO",
        "aws_region": "us-east-1",
        "http_methods": ["GET"],
        "parameter_depth": 1,
        "timeout_seconds": 300,
        "memory_size": 128,
        "use_precompiled_packages": true,
        "environment_variables": {},
    }
}